.logo{
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    width: 100%;
}
.textInput{
    width: 100%;
}

.button{
    align-self: center;
}

.window{
    margin: auto;
}

body{
   // background-image: url("gaming-pattern.png");
}

.buttons{
    height: 2em;
}

.question{
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    width: 100%;
}

.faq {
    font-size: 0.8em;
    align-self: center;
}

